h1 {
  font-size: 48px;
}

p {
  color: #64748b;
  font-size: 24px;
  font-weight: 400;
}

button {
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.primary-button {
  background-color: #6d28d9;
  color: #fff;
  padding: 14px 20px;
  border: none;
}

.secondary-button {
  color: #6d28d9;
  background-color: #fff;
  border: 2px solid #6d28d9;
  padding: 12px 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e2e8f0;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #6d28d9;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  font-size: 20px;
  font-weight: 600;
  color: #64748b;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  width: 550px;
}

.hero-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.languages {
  text-align: center;
}

.languages-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}
